<!DOCTYPE html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts.js"></script>
</head>
<body>
<h1>Welcome</h1>
<% events.forEach(function(event){ %>
<div>
	<h3><%= event.name %></h3>
	<h4><%= event.datePart %>, <%= event.timePart %>, <%= event.address %></h4><br />
	<%= event.shortDesc %><br /><br />
	<!-- Need all events to show up right now only 10 is showing -->
	<!-- Need to render HTML events.desc -->
	<a class = "show-details" id = "show-details-<%= event.guid %>" href="#">Show Details</a>
	<div id="desc<%= event.guid %>" style="display: none">
		<%= event.desc %>
	</div><br />
	<button id="save-button">Save</button>
	<button id="directions">Directions</button>
<div><br />
	
<% }) %>
</body>
</html>